

$black: white;
$blue: rgba(91,83,61,255);
$dirtyWhite: #040705;
$darkPink: #D1D4C0;

// transition for cx, cy, and d attribute 	
* {
	transition: all .5s;
}

body {
	background-color: $black;
	font-family: 'Hiragino Mincho ProN';
}

.text {
	position: absolute;
	left: 10px;
	bottom: 10px;
}

svg {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.textTime {
	fill: black;
	text-anchor: middle;
	alignment-baseline: middle;
	font-size: 1.7rem;
	font-weight: 100;
}

.outerRing {
	fill: none;
	stroke: $dirtyWhite;
	stroke-width: 2px;
	stroke-dasharray: 4px;
	opacity: .5;
}

.primCircle {
	fill: $black;
	stroke: $dirtyWhite;
	stroke-width: 10px;
}

.secCircle {
	fill: $blue;
	stroke: $black;
	stroke-width: 3px;
}

.spike {
	stroke: $dirtyWhite;
	stroke-width: 2px;
}

.triangle {
	fill: $darkPink;
}
